<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{.ShopTitle}}</title>
        <style>
            .copyright {
                color: #8a8a8a;
                bottom: 0;
                position: absolute;
                right: 0;
                margin: 1rem;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to {{.ShopTitle}}!</h1>
        <h2>Please connect with a switch to be able to browse collection.</h2>
        <span class='copyright'>Powered by <a href="https://github.com/DblK/tinshop" target="_blank">TinShop</a>. © 2021-2023 DblK</span>
    </body>
</html>